<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>country01</key>
	<dict>
		<key>flag</key>
		<string>CN.png</string>
		<key>placeholder</key>
		<string>请输入身分证号码</string>
	</dict>
	<key>country02</key>
	<dict>
		<key>flag</key>
		<string>TW.png</string>
		<key>placeholder</key>
		<string>請輸入身分證字號</string>
	</dict>
	<key>country03</key>
	<dict>
		<key>flag</key>
		<string>HK.png</string>
		<key>placeholder</key>
		<string>请输入身分证号码</string>
	</dict>
	<key>country04</key>
	<dict>
		<key>flag</key>
		<string>KO.png</string>
		<key>placeholder</key>
		<string>주민번호를 입력하십시오.</string>
	</dict>
</dict>
</plist>
